<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
<div class="header-content">
  <img src="assets\icon\images\addcor.jpg"alt="">
  <ion-label>
    <h2>Team</h2>
    <p>MobileApp Developer</p>
  </ion-label>
</div>
<ion-list class="menu-item"lines="none">
<ion-item>
  <ion-icon name="pie-chart-outline"class="active"></ion-icon><a href="front">Home</a>
</ion-item>
<ion-item>
  <ion-icon name="pie-chart-outline"></ion-icon><a href="profile">My Profile</a>
</ion-item>
<ion-item>
  <ion-icon name="pie-chart-outline"></ion-icon><a href="admin">Admin Login</a>
</ion-item>
<ion-item>
  <ion-icon name="pie-chart-outline"></ion-icon><a href="login">SignUP</a>
</ion-item>
<ion-item>
  <ion-icon name="pie-chart-outline"></ion-icon><a href="feedback">FeedBack</a>
</ion-item>
<ion-item>
  <ion-icon name="pie-chart-outline"></ion-icon><a href="feedback">About Us</a>
</ion-item>
</ion-list>



      
    </ion-content>
     </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
