ion-card-header {
    background-color:chartreuse;
    height:auto;
    text-align: center;
  
    }
    
  .home-card{
    background:#6e16e1;
  // background:linear-gradient(180deg,#6e16e1 10%,#581ea5 90%);
     width:100%;
     height:100%;
  }