#container {
  text-align:left;
  position: absolute;
  left: 15px;
  right: 0;
  top: 10%;
  
}

#container strong {
  font-size: 15px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container ion-card-header {
  background-color:#6f48a3;
  height: auto;
  color: whitesmoke;

}
ion-button {

  background-color: #6f48a3;
  color: whitesmoke;
  border-radius:15px;

}

ion-segment-button{
  
color:#6f48a3;
border-bottom: #6f48a3;

}

ion-icon{
color:#6f48a3;
}



#container a {
  text-decoration: none;
}

ion-item{
margin:8px;
padding:0px;

}



#tab1{

  color: white;  
  border-radius:5px;
  height:30px;
  margin:4px;
  padding:0px;
 
}
ion-avatar{
  border-style: double;
  border-color:  #6f48a3;
  height:60px;
  width:60px;
 

}
#admin{
  border-style: double;
  border-color: white;
  height:50px;
  width:50px;
}
#col1{
  align-content: center;
}
#Collegedetail{

  text-align: right;
}
.heading{
  background-color:white;
}

.card_view{
  width:40%;
  display:inline-block;
  box-shadow:2px;
  border-radius:12px;

 

 }



